[*expression* for *value* in *collection*]

[*expression* for *value* in *collection if test*]
    
[*expression* for *value* in *collection if test1 and test2*]

**Example 1.1**

In [25]:
squares = [x**2 for x in range(1,101) if x**2 % 2 == 0]

print(squares)

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576, 676, 784, 900, 1024, 1156, 1296, 1444, 1600, 1764, 1936, 2116, 2304, 2500, 2704, 2916, 3136, 3364, 3600, 3844, 4096, 4356, 4624, 4900, 5184, 5476, 5776, 6084, 6400, 6724, 7056, 7396, 7744, 8100, 8464, 8836, 9216, 9604, 10000]

**Example 1.2**

In [22]:
remainders = [x**2 % 11 for x in range(1,101)]
print(remainders)

[1, 4, 9, 5, 3, 3, 5, 9, 4, 1, 0, 1, 4, 9, 5, 3, 3, 5, 9, 4, 1, 0, 1, 4, 9, 5, 3, 3, 5, 9, 4, 1, 0, 1, 4, 9, 5, 3, 3, 5, 9, 4, 1, 0, 1, 4, 9, 5, 3, 3, 5, 9, 4, 1, 0, 1, 4, 9, 5, 3, 3, 5, 9, 4, 1, 0, 1, 4, 9, 5, 3, 3, 5, 9, 4, 1, 0, 1, 4, 9, 5, 3, 3, 5, 9, 4, 1, 0, 1, 4, 9, 5, 3, 3, 5, 9, 4, 1, 0, 1]

**Example 1.3**

In [23]:
books=['The Hare with Amber Eyes', 'Freedom', 'Letters to Monica',
       'The Collected Stories of Lydia Davis','What to look for in winter',
       'Chasing the Sun', 'Life', 'Solar', 'A History of the World in 100 Objects']
tbooks = [book for book in books if book.startswith('T')]
print(tbooks)

['The Hare with Amber Eyes', 'The Collected Stories of Lydia Davis']

**List of objects**

In [ ]:
from dataclasses import dataclass
@dataclass

class book:
    title: str
    author: str 
    ISBN: str
    price: float

books = [book('The Hare with Amber Eyes','Edmund de Waal','978-009953955',4.48),  
         book('Freedom','Jonathan Franzen','978-0007269761',4.49),  
         book('Letters to Monica','Philip Larkin','978-0571239092',12.08),  
         book('The Collected Stories of Lydia Davis','Lydia Davis','978-0241950036',8.44),
         book('What to look for in winter','Candia McWilliam','978-0099539537',5.69),
         book('Chasing the Sun','Richard Cohen','978-1416526124',4.99),
         book('Life','Keith Richards','978-0297854395',10.89),
         book('Solar','Ian McEwan','978-0099549024',4.89),
         book('A History of the World in 100 Objects','Neil MacGregor','978-1846144134',16.69)]  

for x in books:  
   print(x.title, ' by ', x.author)

**Example 2.1**

In [ ]:
# create a list of books which cost less than Â£5
under5=[book.title for book in books if book.price < 5]
print('\n',under5)

**Example 2.2**

In [ ]:
from dataclasses import dataclass

@dataclass

class mark:
    name: str
    mark1: int
    mark2: int
    mark3: int
    
marks = [mark('Peters',24,32,29),
            mark('Adams',44,38,37),
            mark('Francis',29,30,29)]

# create a list of the average mark in three tests
avgMark=[round((x.mark1 + x.mark2 + x.mark3)/3,1) for x in marks]
print(avgMark)

**Example 2.3**

In [ ]:
from dataclasses import dataclass
@dataclass
class pupil: 
    name: str
    gender: str
    age: int
    
pupils=[pupil('Alice Andrews', 'F',13),
        pupil('Ben Brown', 'M',12),
        pupil('Carol Cairns', 'F',14),
        pupil('Derek Davis', 'M',13),
        pupil('Emily Edwards', 'F',15),
        pupil('Felicity Fisher', 'F',13)]

# create a list of fremal pupils between the ages of 12 and 14
group=[x.name for x in pupils if x.gender == 'F' and (x.age >= 12 and x.age <= 14)]
print(group)

In [15]:
myList = ['Dundee', 'Edinburgh','Glasgow']
myList.insert(2,'Dunfermline')

print(myList)

['Dundee', 'Edinburgh', 'Dunfermline', 'Glasgow']

In [17]:
myList.sort(reverse=True)
print(myList)

['Glasgow', 'Edinburgh', 'Dunfermline', 'Dundee']